@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


nav svg {
    height: 20px;
}

nav .hidden {
    display: block !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff; /* Set background color to white */
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #343a40;
    color: #fff;        
}

td {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
}

td p {
    font-size: medium;
}

tbody td {
    text-align: center;
}

.btn-confirm {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.table-title {
    color: #fff;
    text-align:start;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.rating {
  position: relative;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 25px;
  color: #ddd;
  transition: color 0.2s ease-in-out;
}

.rating label:hover,
.rating input:checked ~ label {
  color: #ffc107;
}

.rating input:checked + label,
.rating input:checked ~ label {
  filter: brightness(1.5);
}

.btn {
  background-color: #dd6737;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #1c0d06;
  color: white;
}

.popup-container {
display: none;
position:fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
justify-content: center;
align-items: center;
z-index: 10001;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 600px;
}

.close-popup {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
cursor: pointer;
color: #333;
}

/* Add this to center the form within the popup */
.popup-content form {
display: flex;
flex-direction: column;
align-items:start;
}
.container .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: rgb(234, 201, 13);
  }
  input:checked ~ label{
      color:  rgb(234, 201, 13);
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form header:before{
    content: "I hate it ";
  }
  #rate-2:checked ~ form header:before{
    content: "I don't like it ";
  }
  #rate-3:checked ~ form header:before{
    content: "It is awesome ";
  }
  #rate-4:checked ~ form header:before{
    content: "I enjoy it ";
  }
  #rate-5:checked ~ form header:before{
    content: "I love it ";
  }
  .container form{
    display: none;
  }
  input:checked ~ form{
    display: block;
  }
  form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
  }
  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  .textarea textarea:focus{
    border-color: #444;
  }
  form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn button:hover{
    background: #1b1b1b;
  }

.feedbacksubmit:hover{
  background-color: black;
}

